<h1>Here is the list of crons</h1>


<% @crons.each do |cron| %>
	<p><span style="width: 100px; border: 1px, solid, black;">Cron_name: <%= cron.name %></span> <span> Exec Time: <%= cron.exec_time %> </span> <span>Ping Frequency: <%= cron.ping_freq %></span></p>
<% end %>